.root {
  margin: 3rem auto;
  width: 60%;
  font-size: small;
  font-weight: 700;
}
.container {
  background: rgba(159, 110, 211, 0.05);
  box-shadow: 0px 4px 4px #9f6ed31f;
  border-radius: 10px;
  color: #00000080;
  padding: 5rem;
}

.list,
.amount {
  width: 100%;
  padding: 1rem;
  font-weight: inherit;
  font-family: inherit;
  outline: none;
  border: none;
  background-color: #ffffff;
  color: #00000080;
}

.amount {
  margin: 5rem 0;
  display: flex;
  place-content: space-between;
}
.placeholder {
  font-weight: 600;
  font-family: inherit;
  border: none;
  background: none;
  outline: none;
}
.calculate {
  outline: none;
  border: none;
  background: rgb(159, 110, 212);
  border-radius: 10px;
  color: #fff;
  padding: 1rem 2rem;
  cursor: pointer;
}

.apply {
  width: fit-content;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1rem 3rem;
  outline: none;
  background: #8bc992;
  border-radius: 1rem;
  cursor: pointer;
}
.applyBTN {
  display: flex;
  place-content: center;
}

.period {
  display: flex;
  flex-flow: row wrap;

  &__row {
    flex: 1;
    padding: 0.5rem;
  }

  &__input {
    display: none;
  }

  &__label {
    display: block;
    font-family: inherit;
    background: white;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
  }

  &__input:checked + &__label {
    background: rgb(159, 110, 212);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 10px rgb(159, 110, 212);
  }

  &__input,
  &__period_03:checked + &__label {
    background: red;
    border-color: red;
  }
}

.warning {
  color: #ff0000;
  margin-top: 2rem;
}

@media only screen and (max-width: 900px) {
  .root {
    width: 80%;
  }
}
