.root {
  margin: 3rem auto;
  width: 60%;
  font-size: small;
  font-weight: 600;
  font-weight: 800;
}
.container {
  background: #9f6ed30d;
  box-shadow: 0px 4px 4px #9f6ed31f;
  border-radius: 10px;
  color: #00000080;
  padding: 5rem;
}
.contain {
  display: flex;
  flex-direction: column;
}
.list {
  width: 80%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: #ffffff;
  color: #00000080;
  cursor: pointer;
}
.amount {
  width: 20%;
  padding: 1rem;
  background: #97979716;
  border-radius: 10px;
  border: none;
  color: #00000080;
  outline: none;
}
.calculate {
  outline: none;
  border: none;
  background: #9f6ed31f;
  border-radius: 10px;
  color: #00000080;
  padding: 1rem 2rem;
  cursor: pointer;
}

.apply {
  width: fit-content;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1rem 3rem;
  outline: none;
  background: #8bc992;
  border-radius: 1rem;
  cursor: pointer;
}
.applyBTN {
  display: flex;
  place-content: center;
}

.label {
  font-family: inherit;
}

.days {
  width: fit-content;
  border: none;
  color: inherit;
  font-family: inherit;
  margin: 1rem;
  padding: 1rem;
  outline: none;
  background: #fff;
  cursor: pointer;
}

.warning {
  color: #ff0000;
  margin-top: 2rem;
}
