.footer {
  height: 100%;
  background: #f4f6fe;
  display: flex;
  place-content: space-between;
  padding: 5rem 10rem;
  color: #9f6ed3;
  font-size: small;
}

.main {
  display: flex;
  place-content: space-between;
  gap: 4rem;
}
.list,
.l_list {
  text-decoration: none;
  list-style-type: none;
}

ul.list a {
  text-decoration: none;
  color: #201e4281;
}

@media only screen and (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
  }

  .main {
    display: flex;
    flex-direction: column;
  }
}
