.card {
  display: flex;
  place-content: center;
  margin: 3rem;
}
.item {
  width: 12rem;
  background: #f4f6fe;
  font-family: inherit;
  color: #9f6ed3;
  border: none;
  padding: 1rem 1.5rem;
  border-right: 3px solid #9f6ed31a;
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;

  &__active {
    background: rgb(159, 110, 212);
    color: #fff;
  }
}
