.root {
  margin: 3rem auto;
  width: 60%;
  font-size: small;
  font-weight: 600;
}
.container {
  background: #9f6ed30d;
  box-shadow: 0px 4px 4px #9f6ed31f;
  border-radius: 10px;
  color: #00000080;
  padding: 5rem;
}
.list,
.amount {
  width: 100%;
  padding: 1rem;
  font-family: inherit;
  outline: none;
  border: none;
  background-color: #ffffff;
  color: #00000080;
}
.amount {
  margin: 5rem 0;
  display: flex;
  place-content: space-between;
}
.placeholder,
.max {
  font-family: inherit;
  border: none;
  background: none;
  outline: none;
}
.max {
  color: inherit;
  cursor: pointer;
}
.days {
  width: fit-content;
  border: none;
  color: inherit;
  font-family: inherit;
  margin: 1rem;
  padding: 1rem;
  outline: none;
  background: #fff;
  cursor: pointer;
}
.stake {
  width: fit-content;
  border: none;
  color: #fff;
  margin: 1rem;
  padding: 1rem 3rem;
  outline: none;
  background: #8bc992;
  border-radius: 1rem;
  cursor: pointer;
}
.stakeBTN {
  display: flex;
  font-family: inherit;
  place-content: center;
}
.label {
  font-weight: 700;
}

.warning {
  color: #ff0000;
}

.period {
  display: flex;
  flex-flow: row wrap;

  &__row {
    flex: 1;
    padding: 0.5rem;
  }

  &__input {
    display: none;
  }

  &__label {
    display: block;
    font-family: inherit;
    background: white;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    position: relative;
  }

  &__input:checked + &__label {
    background: rgb(159, 110, 212);
    color: hsla(215, 0%, 100%, 1);
    box-shadow: 0px 0px 10px rgb(159, 110, 212);
  }

  &__input,
  &__period_03:checked + &__label {
    background: red;
    border-color: red;
  }
}

@media only screen and (max-width: 800px) {
  .root {
    width: 80%;
  }
}
